# =============== #
# Unity generated #
# =============== # 
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Assets/AssetStoreTools*
/[Dd]ebug/
/[Xx]64

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
src/ExportedObj/
src/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
Assembly-CSharp-Editor-firstpass-vs.csproj
UnityVS.VersionSpecific.dll

# ============ #
# OS generated #
# ============ #
src/.DS_Store
src/.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

/.vs/

# =============== #
# Merge leftovers #
# =============== #
*.orig.meta

tsgsg.Game/Logs/*
tsgsg.Game/Assets/Resources/Scripts/.vscode/settings.json
Exports/
